body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, p, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

body, html {
  background-color: #EBECF0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat-boxes {
  display: flex;
  justify-content: center;
  row-gap: 30px;
  column-gap: 40px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  height: 380px;
  border-radius: 8px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  padding: 8px;
}

.message-area-maindiv {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.message-area {
  width: 280px;
  height: 280px;
  background-color: #FF8080;
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.message-sender {
  padding: 10px;
}

.message-item-sender {
  text-align: right;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #FFF7BC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.message-item-sender span {
  padding: 5px;
}

.message-item-owner {
  text-align: left;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #C0EDA6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.message-item-owner span {
  padding: 5px;
}

#style-3::-webkit-scrollbar-track {
  background-color: #FF8080;
  border-radius: 5px;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #FF8080;
  border-radius: 5px;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #F6FFA4;
  border-radius: 5px;
}

.name-form-div {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div, p {
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}

.form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 16px 0;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 32px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

label {
  display: block;
  margin-bottom: 16px;
  width: 100%;
}

input {
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button {
  color: #61677C;
  font-weight: bold;
  box-shadow: 0px 0px 10px #fff, 5px 5px 10px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button.icon {
  margin-right: 8px;
}

button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 19px;
}


button.unit.icon {
  margin-right: 0;
}

button.submit-name {
  display: block;
  width: 100%;
  color: #AE1100;
}

button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-group label {
  margin: 0;
  flex: 1;
}

.message-input {
  width: 210px;
    height: 45px;
}